* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: #f9f9f9;
}

.categories-header {
    margin-bottom: 10px;
}

h2 , h3{
    margin-top: 0;
    margin-bottom: 0;
}

h2.contents-heading {
margin-left: 5px;
}


.category-table-category-name {
    width: 200px;
}

.add-content-div {
    text-align: right;
    margin-top: 20px;
}

.add-category-link, .add-content-link, .show-completed-link, .sync-Latest-link{
    font-size: 13px;
}

.add-category-link {
    margin-left: 10px;
}

.add-content-link, .show-completed-link, .sync-Latest-link {
    padding-right: 10px;
}

.main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.menu-toggle {
    width: 20%;
    height:1000px;
}

.content {
    width: 100%;
}

.contents{
    margin-top: -113px;
    padding-top: 116px;
    height: 1500px;
}

.widjet, .menu-toggle{
    margin-top: 1px;
}

.contents {
    background-color: white;
    position: relative;
    width: 60%;
    box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
}

.contents-list {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    overflow-y: scroll;
    list-style-type: none;
    width: 90%;
}

.contents-list, .categories-list, .widjet {
    max-height: 580px;
}

.widjet {
    width: 17%;
    margin-left: 1%;
}

.menu-toggle,.contents, .widjet {
    display: inline-block;
}

.remove-display {
    display: none;
}

.category {
    margin-bottom: 2px;
    display: block;
    max-width: 200px;
}

.add-content-form {
    margin-left: 30px;
}

.category:hover,
.add-category-link:hover,
.content-table-meatball:hover,
.add-content-form-cancel:hover,
.add-content-form-submit:hover,
.add-content-div:hover,
.category-table-category-meatball:hover,
.category-table-edit-button:hover,
.category-table-delete-button:hover,
.category-table-cancel-link:hover,
.content-table-cancel-link:hover,
.delete-warning-popup-confirm:hover,
.delete-warning-popup-cancel:hover,
.top-bar-ShowCompleted:hover,
.completed-latest-contents-close:hover,
.top-bar-Sync:hover,
.top-bar-burger-icon:hover,
.top-bar-cancel-icon:hover,
.menu-toggle-latest5-link-updated:hover,
.menu-toggle-latest5-link-created:hover {
    cursor: pointer;
}

.contents, .widjet {
    vertical-align: top;
}

.content-table-text-div {
    padding: 2px;
    border-radius: 5px;
    margin-right: 10px;
    overflow-wrap: break-word;
}

.content-table-checkbox-div {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 2.8px
}

.category-table-meatball-div {
    transform: rotate(90deg);
    margin-left: 2px;
}

.content-table-meatball-div, .category-table-meatball-div {
    width: 3px;
    height: auto
}

.content-table-checkbox-tick {
    transform: rotate(-45deg);
    width: 8px;
    height: 4px;
    border-left: 1px solid mediumseagreen;
    border-bottom: 1px solid mediumseagreen;
}

.content-table-checkbox {
    padding-top: 3px;
}

.content-table {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

td {
    vertical-align: top;
}

.content-table-checkbox, .content-table-text, .content-table-meatball{
    padding-bottom: 10px;
    padding-top: 10px;
}

.content-table-text-div {
    margin-left: 10px;
}

.content-buttons, .category-buttons {
    border-radius: 5px;
    margin-right: 2px;
}

.content-table-checkbox-div:hover {
    cursor: pointer;
    border: 1px solid darkseagreen;
}

.border {
    border: 1.5px solid #d55b11;
}

.content-table-cancel-link {
    font-size: 14px;
}

.category-table-cancel-link {
    font-size: 12px;
}

.error-Animate {
    position: fixed;
    z-index: 5;
    top: 1.5%;
    left: 25%;
    right: 25%;
    background: #fd6c5a;
    text-align: center;
    line-height: 2;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    color: white;
}

.warning-Animate {
    position: fixed;
    z-index: 5;
    top: 1.5%;
    left: 25%;
    right: 25%;
    background: #fdec77;
    text-align: center;
    line-height: 2;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    color: black;
}

.success-Animate {
    border-radius: 5px;
    position: fixed;
    z-index: 5;
    top: 1%;
    left: 25%;
    right: 25%;
    background: #007F46;
    text-align: center;
    line-height: 2;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    color: #DDFFF0;
}

.edit-success-Animate {
    border-radius: 5px;
    position: fixed;
    z-index: 5;
    top: 1.5%;
    left: 25%;
    right: 25%;
    background: #4968ad;
    text-align: center;
    line-height: 2;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    color: whitesmoke;
}

.delete-warning-popup {
    border-radius: 5px;
    position: fixed;
    z-index: 5;
    top: 1.5%;
    left: 25%;
    right: 25%;
    background: #eed268;
    text-align: center;
    line-height: 2;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    color: black;
}

.error-Animate, .success-Animate, .edit-success-Animate, .warning-Animate {
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 9.5s ease-in-out forwards;
    -moz-transform: translateY(-50px);
    -moz-animation: slideDown 2.5s ease;
}

@-webkit-keyframes slideDown {
    /*0% {*/
        /*-webkit-transform: translateY(-50px);*/
    /*}*/
    /*100% {*/
        /*-webkit-transform: translateY(0px);*/
    /*}*/
    0%, 100% {
    -webkit-transform: translateY(-50px);
    }
    3%,99%{
    -webkit-transform: translateY(0px);
    }
}

/*@-moz-keyframes slideDown {*/
/*0%, 100% { -moz-transform: translateY(-50px); }*/
/*10%, 90% { -moz-transform: translateY(0px); }*/
/*}*/

textarea {
    resize: none;
}

fieldset {
    border: 0;
}

.add-content-form-submit {
    vertical-align: top;
    border-radius: 5px;
}

.completedContents {
    margin-top: 10px;
}

.add-content-form-textArea, .add-content-form-submit {
    display: block;
}

.add-content-form-submit, .add-content-form-cancel {
    margin-right: 5px;
    margin-top: 10px;
    display: inline-block;
}

.add-content-form-cancel {
    font-size: 12px;
}

.delete-warning-popup-text, .delete-warning-popup-confirm {
    display: inline-block;
}

.delete-warning-popup-text {
    margin: 0;
}

.category-table {
    margin-left: 10px;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #046380;
    color: #f6f5e9;
    z-index: 4;
}

h1 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*width: 20%;*/
}

h2,h3, .add-content-link, .add-category-link, .show-completed-link, .sync-Latest-link{
    color: #046380;
}

.footer {
    text-align: right;
    position: fixed;
    z-index: 4;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #002F2F;
    /*background-color:  #046380;*/
    color: #f6f5e9;
}

.footer p {
    margin-right: 20px;
}

.footer a {
    color: #f6f5e9;
}

.top-bar-Sec {
    width: 76%;
    text-align: right;
}

.top-bar-burger-icon {
   display:none;
}

.top-bar-burger-icon, .top-bar-cancel-icon{
    width:20px;
    height:auto;
}

.top-bar-menu {
    color: white;
    margin-left:10px;
}

.top-bar-header, .top-bar-Sec, .top-bar-menu {
    display: inline-block;
}

.top-bar-ShowCompleted, .top-bar-latest {
    margin-right: 5px;
}

.completed-latest-contents {
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    width: 100%;
    background-color: white;
    color: gray;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 6%;
    max-height: 580px;
    border-radius: 5px;
    overflow-y: scroll;
}

.completed-latest-contents-close{
    position:absolute;
    font-size: 1.5em;
    left:95%;
}

.completed-latest-contents-close:hover{
    color: black;
}

.completed-latest-contents-head{
    max-width: 50%;
    margin-bottom: 2%;
}

.completed-latest-contents-head, .completed-latest-contents-close{
    display: inline-block;
}

.completed-contents{
    text-decoration: line-through;
}

.outer-Overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.5);
}

.widjet-head{
    margin-bottom: 10px;
}

.latest-created-Categories-content, latest-created-Categories-content{
    margin-left: 1%;
}

.category-menu{
    padding-left:10px;
     margin-top:30px;
     position: fixed;
     padding-top: 50px;
     width: 300px;
     height: 800px;
     z-index: 3;
     background-color: #fafafa;
     /*background-color: black;*/
     color: black;
     top:0;
     left:-300px;
     box-shadow: 0px 0px 10px black;
     transition: left 0.5s;
     -webkit-transition-timing-function: ease;
 }

.left-menu-overlay{
    position:absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
    opacity: 0.5;
}

.transform-left{
    left:0px;
}

.category-menu .categories{
    border:none;
    display: block;
    width:100%;
}

.category-menu .categories .categories-list{
    height: 200px;
    overflow-y:scroll;
}

.categories-list{
    margin-bottom: 10px;
}

.sure-display{
    display: block !important;
}

.sure-remove-display{
    display: none !important;
}

.menu-toggle-latest5-head{
    margin-top: 40px;
    margin-bottom: 10px;
}

.menu-toggle-latest5-link-updated, .menu-toggle-latest5-link-created{
    border-bottom: 1px solid gray;
    color:#717070
}

.menu-toggle-latest5-link-updated:hover, .menu-toggle-latest5-link-created:hover{
    border-bottom: 1px solid #db0018;
    color: black;
}

.menu-toggle-latest5-selected{
    border-bottom: 1px solid #db0018;
    color: black;
}

.menu-toggle-latest5-link-updated{
    margin-left: 10px;
}


h3{
    border-bottom: 1px solid lightgray;
}
